@font-face {
    font-family: "Metropolis-bold";
    src: url(assets/fonts/Metropolis-Bold.otf);
}
@font-face {
    font-family: "Metropolis-medium";
    src: url(assets/fonts/Metropolis-Medium.otf);
}
@font-face {
    font-family: "Metropolis-thin";
    src: url(assets/fonts/Metropolis-Thin.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Metropolis-medium";
}
a{
    color: black;
    text-decoration: none;
}
.hide{
    display: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
header{
    height: 75px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    z-index: 4;
}
header>.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 186px;
    height: 48px;
    align-items: center;
}
.menu__list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
.menu__items{
    position: relative;
    height: 100%;
    display: flex;
    margin-left: 50px;
}
.menu__items>a{
    display: flex;
    align-items: center;
}
.burger{
    display: none;

}
.x-mark{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.burger__bar{
    width: 19px;
    height: 3px;
    background: #191e1e;
    margin: 0 0 3px;
}
.description__block{
    padding: 80px 0 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}
.description__block>.title{
    font-family: "Metropolis-bold";
    font-size: 65px;
    margin-bottom: 25px;
}
.description__block>.description{
    font-family: "Metropolis-thin";
    font-size: 28px;
    line-height: 50px;
}
.block>.container{
    display: flex;
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    flex-wrap: wrap;
}
.block{
    background-color: #ebf2f2;
    padding-top: 40px;
    overflow: hidden;
}
.search__block{
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__result{
    font-size: 35px;
}
.hidden{
    visibility: hidden;
}
.search{
    border-radius: 0;
    border: 1px solid black;
    font-size: 20px;
    width: 300px;
    height: 47px;
    padding-left: 20px;
}
.cards__block{
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 183px;
    padding-bottom: 80px;
    border-bottom: 2px solid gray;
    gap: 20px;
}
.card__link{
    width: 48%;
}
.card{
    /* max-width: 382px; */
    padding: 40px 30px;
    height: 170px;
    /* margin: 0 0 25px 25px; */
    background-color: white;
    display: flex;
    border-radius: 5px;
    transition: all .2s linear;
}
.card:hover{
    transform: translateY(-10px);
}
.card>.card__image{
    width: 20%;
    height: 60px;
}
.card>.text{
    width: 80%;
    margin-left: 20px;
}
.card__description{
    line-height: 20px;
    margin-top: 15px;
}



.nav-arrow{
    transform: rotate(45deg) translateY(-6px);
    /* -webkit-transform: rotate(45deg) translateY(-6px); */
    border: solid #191e1e;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    /* margin-left: -6px; */
}
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }
  
  a:hover{
    color: #6db33f;
  }
  .dropdown-content a:hover {
    color: #6db33f;
    }
  
  .dropdown {
      display: flex;
      align-items: center;
    /* display: inline-block; */
  }
  
  .dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
    border-radius: 5px;
    margin-top: 50px;
    transition: all .2s ease-in; 
    opacity: 0;
    visibility: hidden; 
    right: -7px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    /* opacity: 0; */
  }
  
  

  .menu__items:hover a{
    opacity: 1;
  }
.container>.title{
    margin-bottom: 100px;
}
.projects{
    border-bottom: 1px solid lightgray;
    padding-bottom: 60px;
}
.projects__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project{
    width: 48%;
    margin-bottom: 30px;
}
.project__title{
    color: rgb(14, 115, 197);
    padding-bottom: 10px;
}
.project__text{
    line-height: 25px;
}

.prefooter{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    position: relative;
}
.prefooter__card{
    width: 25%;
}
.prefooter__card>.title{
    margin-bottom: 15px;
}
.prefooter__card>.text{
    margin-bottom: 15px;
}
.prefooter__link{
    color: rgb(14, 115, 197);
}
.circle{
    display: block;
    position: absolute;
    background-color: #6db33f;
    border-radius: 50%;
    height: 345px;
    width: 345px;
    right: -400px;
    bottom: -140px;
}
.circle__grid{
    height: 80px;
    width: 80px;
    position: absolute;
    right: -140px;
    top: 20px;
}
.footer__list{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__sublist{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 150px;
}
.footer__sublist>a, .footer__sublist>p{
    color: #4f5e5e7c;
    line-height: 35px;
}
.footer__sublist>.title{
    font-family: "Metropolis-bold";
    color: #191e1e;
    font-size: 25px;
}
.first{
    color: #191e1e !important;
}
.social__block{
    max-width: 170px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.bottom__title{
    display: flex;
    justify-content: space-between;
}
.cls-2{
    fill: #fff;
}
svg{
    height: 40px;
}
.inputs{
    width: 420px;
    position: relative;
}
.email{
    border-radius: 0;
    border: 1px solid black;
    font-size: 20px;
    width: 70%;
    height: 47px;
    padding-left: 20px;
}
.sendbtn{
    left: 220px;
    position: absolute;
    color: white;
    background-color: black;
    border: 1px solid black;
    max-width: 200px;
    width: 50%;
    height:  49px;
    font-family: "Metropolis-bold";
    /* text-transform: uppercase; */
}
.check{
    margin-top: 25px;
    display: flex;
}
.check>.text{
    color: #4f5e5e7c;
    margin-left: 15px;
}
.bottom__text{
    margin-top: 35px;
    margin-bottom: 50px;
    width: 85%;
}
.bottom__text>.text{
    color: #4f5e5e7c;
    margin-bottom: 20px;
}
@media (min-width: 901px){
    .menu__items:hover .dropdown-content {
        /* display: block; */
        visibility: visible;
        opacity: 1;
      }
}
@media (max-width: 1000px){

    .logo{
        height: 30px;
        width: auto;
        margin-left: 10px;
    }
    .cards__block{
        padding-left: 0;
    }
    .description__block{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 900px) {

    header{
        position: fixed;
        width: 100%;
        background-color: white;
    }

    body.lock{
        overflow: hidden;
    }
    .menu__list{
        /* padding: 40px; */
        /* padding-top: 150px; */
        top: -100%;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #191e1e;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        transition: top .3s ease-in;
        z-index: 0;
        gap: 25px;
    }
    .menu__items>a{
        color: white;
    }
    .menu__items{
        width: 90%;
        color: white;
        display: flex;
        /* justify-content: flex-start; */
        flex-direction: column; 
        margin-left: 20px;
        border-bottom: 1px solid lightgray;
        height: fit-content;
    }
    .menu__items:first-child{
        margin-top: 150px;
    }
    .menu__items:last-child{
        margin-bottom: 150px;
    }
    .dropdown-content{
        position: relative;
        visibility: visible;
        opacity: 1;
        right: inherit;
        margin-top: 0;
        background-color: #191e1e;
        transition: .3s linear ;
        max-height: 0;
        overflow: hidden;
    }
    .menu__items.active .dropdown-content{
        max-height: fit-content;
    }
    .dropdown-content>a{
        color: white
    }
    .menu__list.active{
        top: 0;
    }

    /* .menu__items:first-child{
        margin-top: 100px;
    } */
    /* .menu__items:last-child{
        margin-bottom: 100px;
    }
    .dropdown-content{
         opacity: 1;
        visibility: visible; 

        background-color: #191e1e;
        box-shadow: none;
        margin-top: 0px;
        height: 0;
        transition: all .7 ease-in;
    }
    .dropdown-content > a{
        color: lightgray;
        padding-left: 0;
        font-size: 20px;
    }


    .menu__list.active #search{
        display: none;
    }
    .dropdown, .menu__items > a{
        height: 30px;
    }
    .menu__items{
        margin-left: 10px;
        height: 70px;
        width: 85%;
        justify-content: center;
        flex-direction: column;
     }
    .menu__items.active{
        height: fit-content;
    }
    .menu__items.active .dropdown-content{
        position: static;
        opacity: 1;
        visibility: visible;
        height: fit-content;
    }
    .dropdown{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding-bottom: 15px;
    }
    .menu__items, .menu__items> a{
        color: white;
    }
    .menu__items > a{
        border-bottom: 1px solid white;
        padding-bottom: 15px;

    }
     .nav-arrow{
        transform: rotate(45deg) translate(-5px,5px) scale(1);
        -webkit-transform: rotate(45deg) translate(-5px,5px) scale(1);
        transition: transform .2s ease-out;
        border: solid #98afae;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        margin-left: 5px;
        display: block;
    } */
    .burger{
        display: block;
        padding: 10px;
        margin-right: 15px;
    }
    .x-mark{
        color: white;
        height: 25px;
        width: 25px;
        left: 40%;
        top: 39px;
        margin-bottom: 80px;
    }
    .menu__list .active .x-mark{ 
        visibility: visible;
        opacity: 1;
    }

}

@media (max-width: 800px){
    .card__link{
        width: 100%;
        margin-right: 25px;
    }
}

